/*Fuentes importadas*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.titillium-web-extralight {
  font-family: "Titillium Web", serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  font-style: italic;
}


.public-sans-semibold{
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.public-sans-light{
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* PALETA DE COLORES:
Primario: #213555
        : #B7C4DA
Secundario: #F6F1EE
          : #D8C4B6 
Acento: C98A62
 */

 /* COLORES BACKGROUND:
Azul oscuro:  #213555
Beige: #D8C4B6
Blanco: #FFFFFF
Celeste grisáceo: #B7C4DA
 */

 /* COLORES TEXTO:
Azul oscuro:  #213555
Negro: #222233
Blanco: #FFFFFF
 */

 /* COLORES Indicadores:
Error (rojo):  #DB1318
Alerta (amarillo): #FBBA06
Correcto (verde): #00A272
 */

 /* Estilos de los H: se utilizó Titillium Web y para remarcar, se utilizó strong en html.
Para darle mayor peso (grosor) y presencia a la tipografía, se han asignado distintos valores a la propiedad font-weight, de la siguiente manera:
 h1: bold (700)
 h2: bold (700)
 h3: semibold (600) 
 h4: bold (700)*/

h1,h2,h3,h4 {
  font-family: "Titillium Web", serif;
}
p{
  font-family: 'Public Sans', sans-serif; 
}
 h1{
  font-family:"Titillium Web", serif; 
  font-weight: 700;
  font-size: 40px;
  font-style: normal; 
  color: #213555; 
}
h2 {
  font-family:"Titillium Web", serif; 
  font-weight: 700; 
  font-style: normal; 
  color: #213555; 
  font-size: 32px;  
}
h3 {
  font-family:"Titillium Web", serif; 
  font-style: normal; 
  color: #213555; 
  font-weight: 600;
  font-size: 24px; 
}
h4{
 font-family:"Titillium Web", serif; 
 font-weight: 700; 
 font-style: normal; 
 color: #213555; 
 font-size: 18px; 
}
  
  
  /* Estilos de los P: se utilizó Public Sans con el font-weight light: 300  */
p{
  font-family: 'Public Sans', sans-serif; 
  color: #213555; 
  font-weight: 300; 
  font-size: 18px;
}
  




/*BARRA AZUL*/

/* Estilo de la Barra azul superior que contiene el ícono de ubicacion con la dirección de le establecimiento y el ícono de telefono con el telefono */
/*Pimero se definieron las propiedades de la barra */
/*Se utilizó:
display : flex para definir un contenedor, así, los elementos dentro de ese contenedor se organizan de manera que se puedan alinear, distribuir y justificar con mayor facilidad (los elementos hijos se organizan en una fila o columna)
justify-content: center para centrar los elementos dentro de un contenedor
gap: para definir el espacio entre los elementos dentro de un contenedor
padding: para crear un espacio interno entre el contenido y su borde, sin afectar el tamaño total del contenedor*/
.franja_superior {
  display: flex;
  justify-content: center; 
  gap: 18px;
  padding: 10px 20px;
  background-color: #213555; 
}

.localizacion {
  font-family: "Public Sans", sans-serif;
  color: white;
  font-size: 16px;
}
.num_telefono {
  font-family: "Public Sans", sans-serif;
  color: white;
  font-size: 16px;
}
.horario {
  font-family: "Public Sans", sans-serif;
  color: #213555;
  font-size: 16px;
}

/*Luego se definieron las propiedades de los class location (dirección) y phone (teléfono). 
Se volvió a utilizar display:flex para poder aplicar más configuraciones los elementos dentro de la franja y distribuirlos de manera independiente dentro del contenedor de la franja azul.
Además se utilizó align-items: center para que los elementos se colocaquen de manera que queden centrados en relación con el contenedor.
*/
.location, .phone {
  display: flex;
  align-items: center; 
  color: white; 
}
/*Y por último, se definieron las propiedades de los íconos
Se utilizó:
"width" para el tamaño del ícono
"hight: auto" para mantener la proporción del ícono
"margin-right" para el espacio entr el ícono y el texto. */
.icon {
  width: 20px; 
  height: auto; 
  margin-right: 10px; 
}




/*BARRA GRIS*/

/* Se repitió el procedimiento para la barra inferior celeste grisácea */
.franja_inferior {
  display: flex;
  justify-content: center; 
  padding: 10px 20px; 
  background-color: #B7C4DA; 
}

.hours {
  display: flex;
  align-items: center;
  color: #213555; 
}
.icon {
  width: 20px; 
  height: auto; 
  margin-right: 10px; 
}

/* whatsapp*/
.floating-whatsapp {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 9999 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  border-radius: 50%; 
  display: inline-block; 
}

.floating-whatsapp img {
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  display: block; 
  object-fit: cover; 
}



/* BARRA DE NAVEGACIÓN*/
/*Se utilizó bootstrap para agregar un menú desplegable para la barra 
de navegacion en mobile*/
/* BOTÓN DE ÍCONO MENÚ (toggler) */
.custom_toggler {
  border: none ;
  outline: none ;
  box-shadow: none ;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 32px;
  height: 32px;


}

.custom_toggler:focus,
.custom_toggler:active,
.custom_toggler:focus-visible {
  outline: none ;
  box-shadow: none ;
  background-color: transparent ;
}

 /* MENÚ DE LINKS EN DESKTOP*/
.custom_collapse { 
  justify-content: flex-end;
}

  /* MENÚ DE LINKS DESPLEGABLE EN MOBILE*/
.custom_collapse.show {
  z-index: 1050;
  width: 100%;
  background-color:white;
  position: relative; 
  border: none ;
  box-shadow: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}


 
.container_custom_navbar{
  display: flex;
  align-content: flex-end;
  gap: 5px;
  
}

.custom-navbar {
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0;
  position: relative;
  z-index: 2;
  border-bottom: none;
}


.custom_collapse .nav_turnos {
  background-color: #213555;
  font-family: "Public Sans", sans-serif;
  width: 105px;
  height: 36px ;
  padding: 8px 20px;
  border-radius: 19px ;
  color: white;
  text-decoration: none;
  justify-self: center;
  align-items: center;
  
}

.custom_navbar ul{
  display: flex; 
  justify-content: flex-end; 
  list-style-type: none; 
  margin: 0;
  padding: 0;
  align-items: center;
}

.custom_navbar li {
  margin-left: 10px;

}

.custom-navbar li a {
  background-color: white;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #213555;
  text-decoration: none;
  border-radius: 19px;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.custom-navbar li a:hover {
  background-color: #B7C4DA;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  border-radius: 19px ;
  font-weight: bold;
  color: #213555;
  text-decoration: none;
  border-color: solid #B7C4DA;
  padding: 8px 20px;
}

.nav_turnos {
  background-color: #213555;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  border-radius: 19px ;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  border-color: #213555;
  align-items: center; 
  justify-content: center;
}

.nav_turnos:hover {
  background-color: #B7C4DA;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  border-radius: 19px ;
  font-weight: bold;
  color: #213555;
  text-decoration: none;
  border-color: solid #213555 ;
  
}

.menu_icon {
  border: none;
  width: 24px;
  height: 24px;
}

.menu_icon:focus {
  border: none;
  
}


/* LOGO PRINCIPAL */
.logo_container {
  display: flex;
  align-items: center;
  width: 30%;
  height: 40%;
  max-width: 100%;
}

.logo_container .logo_navbar {
  margin-right: 10px;
  width: auto; 
  height: auto ;
  max-width: 100% ;
  align-self: flex-start;
}

.logo_subtitle {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  color: #213555;
  font-weight: normal;
  margin: 0%;
  padding: 0%;
  display: inline-block;
  font-weight: bold;
}
/*-----------------------------------------------INDEX--------------------------------------------------*/
/* Se incorporó un mensaje de bienvenida con el fin de generar una sensación de cercanía y calidez. */
.bienvenida {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
  width: 100%;
  max-width: 100%;
}

.bienvenida h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #213555;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.42);
}



/*----IMAGEN CONTAINER----*/


/* ANTES:
Para la imagen de fondo se creó un contenedor, ya que dentro de la imagen, va un h1, p y botones.
Se utilizó 
"background-repeat: no-repeat" para que la imagen no se repita
"background-position: center center para que este centrada vertical y horizontalmente" 
*/
/*AHORA:
Se implementó el componente Carrusel para mostrar múltiples imágenes 
dentro de un mismo contenedor. Se aprovechó su funcionalidad de 
flechas de navegación (arrows) para permitir el desplazamiento entre 
imágenes anteriores y siguientes mediante slides.*/
/*CARRUSEL*/

.carousel-item {
  position: relative;
}

.carousel-caption-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  width: 80%;
  max-width: 600px;
}

.carousel-caption-custom h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: left;
}

.carousel-caption-custom p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: white;
  text-align: left;
}

.carousel-caption-custom.nuestro_servicios {
  margin: 5px;
}

.carousel-caption-custom.num_tel

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

button.previo,
button.siguiente {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  z-index: 2;
  width: 36px;
  height: 36px;
}

button.previo {
  left: 15px;
}
button.siguiente {
  right: 15px;
}

button.previo .custom,
button.siguiente .custom {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}
/*BOTONES DENTRO DEL CARRUSEL*/
.botones_container {
  display: flex; 
  gap: 15px; 
  justify-content: start; 
  align-items: center; 
}
/*BOTONES DENTRO DEL CARRUSEL*/
  
/* BOTÓN: "Nuestros servicios" */
  #nuestros_servicios {
  font-family: "Public Sans", sans-serif;;
  width: 200px; 
  height: 42px;
  font-size: 16px; 
  border-radius: 19px;
  border: 2px solid white;
  background-color: #213555;
  color: white;
  
  }

  #nuestros_servicios:hover {
  background-color: #B7C4DA;
  color: #213555;
  border: 2px solid #213555; 
  }
  
  /* BOTÓN: "Número de teléfono" */
  #num_tel {
  width: 200px; 
  height: 42px; 
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 18px;
  border: 2px solid white; 
  gap: 10px; 
  }
  
 /* Icóno de teléfono */
  #num_tel img {
  width: 20px; 
  height: auto; 
  }
  
  #num_tel:hover {
  background-color: #213555;
  color: white;
  }
 /* BOTÓN "Conocé más"*/
 #conoce_mas {
  font-family: "Public Sans", sans-serif;;
  width: 200px; 
  height: 42px;
  font-size: 16px; 
  border-radius: 19px;
  border: 2px solid white;
  background-color: #213555;
  color: white;
}
#conoce_mas:hover{
  background-color: #B7C4DA;
  color: #213555;
  border: 2px solid #213555; 
}
/* BOTÓN "Agendá tu consulta"*/
#agenda {
  font-family: "Public Sans", sans-serif;;
  width: 200px; 
  height: 42px;
  font-size: 16px; 
  border-radius: 19px;
  background-color: #213555;
  border: 2px solid white;
  color: white;
}
#agenda:hover{
  background-color: #B7C4DA;
  color: #213555;
  border: 2px solid #213555; 
}


.info_container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto; 
  padding-inline: 18px;
  display: block;
}

.info_container p{
  font-family: "Public Sans", sans-serif;
  font-size: 18px !important;
  color: black;
  margin: 10px 10px 10px 10px;
}

/*----CARDS-----*/
/* Para el contenedor que agrupa todas las divs de información, se aplicaron las siguiente propiedades:
justify-content: space-between; para alinear las divs de manera horizontal 
gap: para generar un espacio entre las divs 
wrap: wrap para que pueda aplicarse el responsive */
.info {
  display: flex;
  justify-content: space-between; 
  gap: 10px; 
  flex-wrap: wrap; 
  align-items: center; 
  margin-top: 20px;
}



/* Para el estilo de las divs internas:
  se utilizó flex: 1 para que las divs ocupen el mismo espacio
  min-width: 250px: para evitar que las divs se hagan demasiado pequeñas */
.experiencia, .consultas, .os, .staff {
  flex: 1; 
  min-width: 250px; 
  max-width: 30%; 
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 250px;
  display: flex;  
  flex-direction: column;  
  justify-content: center;  
  align-items: center;  
  
}

h3 {
  font-size: 24px;
  font-family: "Titillium Web", serif;
  margin-bottom: 10px;
  font-weight: bold; 
}
 .num {
  font-size: 70px; 
  font-family:  "Public Sans", sans-serif;
  font-weight: bold;
  color: #213555; 
  display: block; 
  text-align: center; 
 }
 .dato {
  font-size: 18px; 
  font-family:  "Public Sans", sans-serif;
  font-weight: bold;
  color: #213555; 
  display: block; 
  text-align: center; 
}

/*----PREGUNTAS FRECUENTES----*/


/*Se utilizó el componente acordeón para hacer funcional las preguntas frecuentes*/

.faq_container{
  max-width: 800px; 
  width: 100%; 
  margin: 0 auto; 
  padding: 20px; 
}

.faq_title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Titillium Web", serif;
  color: #213555;
  margin-left: auto;
  margin-right: auto;

}

.faq_accordion {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 0 auto; 
  padding: 0 15px;
}

.faq_item {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.accordion-header{
  width: 100%;
  font-size: 18px !important;
}

/* BOTTON DEL ACORDEÓN */
.faq_button {
  background-color: #B7C4DA;
  color: #213555;
  font-weight: bold;
  font-family: "Titillium Web", serif;
  width: 100% !important;
  box-sizing: border-box; 
  white-space: normal;
}

.faq_button:not(.collapsed) {
  background-color: #B7C4DA;
  color: #213555;
  font-family: "Titillium Web", serif;
}

.faq_button:focus,
.faq_button:focus-visible {
  outline: none;
  box-shadow: none;
}

.faq_body {
  background-color: white;
  color: black;
  padding: 1rem;
  font-family:  "Public Sans", sans-serif;
  font-size: 16px;
}

.resaltado {
  font-weight: bold;
  font-family:  "Public Sans", sans-serif;
}

.contenedor_boton_faq {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ver_mas_faq {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50px; 
  padding: 10px 20px; 
  font-size: 1rem;
  background-color: transparent;
  color: #213555;
  border: 2px solid #213555;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.ver_mas_faq :hover{
  color: #213555;
  border: 2px solid #213555;
  background-color: #B7C4DA;
}



/*------------------------------FOOTER-------------------------------------*/


/* Estilo para el footer: se le aplicaron las siguientes propiedades para lograr lo siguiente:
"flex-direction: column" para apilar los elementos 
"position: relative": para que quede abajo del contenido 
*/
footer {
  background-color: #D8C4B6; 
  color: #213555; 
  text-align: left; 
  display: flex;
  flex-direction: column; 
  padding: 20px; 
  width: 100%; 
  position: relative; 
}
/*Para el footer se creó un sección con divisiones. Se utilizó::
"flex-wrap: nowrap": para evitar que los elementos se acomoden en una nueva fila y quede solo el texto debajo.
*/
footer section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  flex-wrap: nowrap; 
  gap: 20px; 
}
/*Cada division del footer ocupa el 22% del ancho
con "margin" se establecen espacios entra las divisiones, con "flex-direction: column" se alinea el contenido de la div
en una columna y con "align-items: flex-start" se alinea el contenido de la div a la izquierda*/
footer section div {
  flex: 1 1 22%; 
  margin: 20px; 
  flex-direction: column; 
  align-items: flex-start; 
}

footer section .bienestar {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start;
}

footer section .bienestar img {
  max-width: 150px;
  height: 350px;
  width: 350px;
  align-items: center; 
}
.logo_subtitle_footer {
  text-align: left;
  align-items: flex-start; 
  margin-left: 0px;
  margin-top: 20px; 
  font-size: 1rem;
  color: #213555; 
  display: block;
  margin-bottom: 0;
  flex-basis: 100%; 
  font-weight: bold;
}

footer section div h2{
  text-align: center; 
  font-weight: normal;
}

.footer_contacto {
  text-align: left;
  color: #213555; 
  display: block;
  margin-bottom: 0; 
}

footer p {
  text-align: left;
  margin-top: 20px; 
  font-size: 1rem;
  color: #213555; 
  display: block;
  margin-bottom: 0;

}

.mapa-container {
  width: 200px;
  height: 150px;
  margin: 0px;
  padding: 0px;
}

.mapa-ubicacion {
  width: 100%;
  height: 100%;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.iconos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.icono-redes {
  width: 32px;
}

footer p.footer_derechos_reservados {
  text-align: left;
  margin-top: 8px;
  font-size: 1rem;
  color: #213555;
  margin-bottom: 0; 
  flex-basis: 100%; 
}







/* ----------------------------------------------------------SOBRE NOSOTROS------------------------------------------------------------------------------- */


.content_container {
display: flex;
justify-content: space-between;
align-items: right;
margin-bottom: 40px;
}

.text {
  width: 50%;
  margin: 15px;
}

.text h1 {
  font-size: 40px;
  color: #213555;
  margin-bottom: 10px;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.42);
  margin-top: 0px;

}
.text h2 {
  color: #213555;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: normal;
  font-size: 32px;
}
.text p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.img_sobre_nosotros {
  width: 40%;
  display: block;
  margin-top: 50px;
  margin-right: 15px;
}

.img_sobre_nosotros img {
  width: 100%;
  height: auto;
  object-fit: cover;
 
}

/* ------ SECCIÓN EQUIPO ------- */
.equipo {
  text-align: left;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.equipo h2 {
  font-size: 32px;
  color: #213555;
  margin-bottom: 20px;
}

.nuestro_equipo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
  width: 100%;  
  margin: 10px;
}


/* Dentro de esta sección, se estructuraron cuatro cards, cada una con la imagen del profesional, 
su nombre y su especialidad. 
Se utilizó "height: auto" para que el contenedor se ajuste al contenido. 
Se utilizó "box-shadow" para darle un sombreado a la card.
Se estableció el siguiente estilo general de cada card.
 */
.card {
  width: 290px;
  height: 330px;  
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 400px; 
  cursor: pointer;
}

.card img {
  width: 202px !important; 
  height: 202px !important;
  object-fit: cover; 
  display: block;
}


.card-body {
  padding: 15px;
  background-color: white;
}

.card-body .nombre {
  font-size: 1.2rem;
  color: #213555;
  font-weight: bold; 
  margin-bottom: 10px;
}

.card-body .especialidad {
  font-size: 1rem;
  color: #555;
  text-transform: uppercase; 
  font-weight: normal; 
}





/* ------------------------------------------------------------------TURNOS------------------------------------------------------------------------------- */

h1.gestion_turnos {
  font-family: "Titillium Web", serif;
  font-size: 40px !important;
  margin-left: 10px;
  text-align: center;
  margin-top: 5px;
  color: #213555;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
  }
.info_contacto h2{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.agendamos_turno {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: nowrap; 
  gap: 20px;
  padding: 20px;
}

.vector_telefono {
    display: flex;
    align-items: center;
    gap: 10px; 
  }

.vector_telefono h2{
  display: flex;
  margin: 0; 
  line-height: 1;
}
.contacto_negrita {
  font-family: "Public Sans", sans-serif; 
  font-size: 18px;
  font-weight: bold;
  color: #213555;
}
.vector_telefono img {
  width: 30px;
  height: 30px;
}

/* Contenedor de la información de contacto alineado a la izquierda */
.agendamos_turno .info_contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

/* Imagen de "Agendamos Turnos" alineada a la derecha (para que la imagen quede a la derecha, 
se utilizó " justify-content: flex-end"*/ 
.agendamos_turno .img_turno {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
}

.agendamos_turno .img_turno img {
  max-width: 100%;
  height: auto;
}

/* Para la alineación de los iconos junto al texto: se utilizó "flex-direction: row" */
.vector_telefono, .vector_whatsapp, .vector_mail {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 10px;
  padding: 10px;
}

/* Ajuste del tamaño de los iconos */
.vector_whatsapp img, .vector_mail img {
  width: 45px;
  height: 45px;
}

.info_contacto h2{
  font-family: "Titillium Web", serif;
  font-size: 32px !important;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #213555;
  font-weight:normal;
}

.info_contacto p {
  margin-top: 10px; 
  margin-bottom: 10px;  
}




/*---------Formulario----------*/

#formulario {
  position: relative;
  background-image: url('../assets/img_back_contacto.png'); 
  background-size: cover;
  background-position: center;
  height: 85vh; 
  display: flex; 
  align-items: flex-start; 
  padding: 10px;
  margin-bottom: 0%;
}

.titulo_form {
  text-align: left; 
  width: 38%; 
  margin-right: 10px; 
  color: white !important; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.titulo_form h2, 
.titulo_form p {
  margin: 0; 
  color: white;
  text-align: left; 
  align-self: flex-start; 
}


form {
  width: 52%; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}


#formulario label,
#formulario p {
  color: white; 
  margin-top: 10px;
  text-align: start;
}

#formulario h1,
#formulario p,
.titulo_form p {
  color: white; 
  text-align: start;
}


#formulario input, 
#formulario select, 
#formulario textarea {
  color: #213555; 
}


input, select, textarea {
  color: #213555; 
}

input, select, textarea {
  width: 100%; 
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input_row_one, .input_row_two {
  display: flex;
  gap: 45px;
  margin-bottom: 20px;
  width: 100%;
}

.input_group {
  display: flex;
  flex-direction: column;
  width: 100%; 
 
}


textarea {
  resize: none;
}
/*Botón "Enviar" */
input[type="submit"] {
  background-color: #213555;
  color: white !important; 
  font-weight: bold;
  margin-top: 20px;
  width: 105px; 
  height: 36px; 
  border-radius: 18px; 
  border: none; 
  cursor: pointer; 
  font-size: 16px; 
  text-align: center; 
  display: inline-block; 
  line-height: 36px; 
  padding: 0; 
  text-align: center; 
  justify-content: center; 
  align-items: center; 
  line-height: normal; 
}
input[type="submit"]:hover {
  background-color: #B7C4DA; 
  color: #213555 !important;
  border: #213555 solid;
}





/*------------------------------------------------------------------TRATAMIENTOS---------------------------------------------------------------------------*/

/*Aquí utilicé Grid Layout, en el cual el área de la cuadrícula contiene 6 cards distribuidas en 3 columnas y 2 filas.*/

/*Declaración del area de mi grid de la sección "Tratamientos"*/

.tratamientos_section_grid {
  display: grid; 
  grid-template-areas: 
  "card1   card2   card3"
  "card4   card5   card6";
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 15px; 
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

h1.tratamientos {
  font-family: "Titillium Web", serif;
  font-size: 40px !important;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #213555;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
  text-align: center;
  }

  p.tratamientos {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: center;
  }

/* card */
.tratamientos_section_grid .card {
  width: 100%; 
  max-width: 330px; 
  height: 330px; 
  border-radius: 10px; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

/* Imagenes de las cards */
.tratamientos_section_grid .card img {
  width: 100%; 
  height: auto;
  object-fit: cover; 
  border-radius: 10px 10px 0 0; 
}


.tratamientos_section_grid .card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #213555;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
}


/* El efecto hover se utilizó en este caso para resaltar el tratamiento a seleccionar.
 Se logró utilizando transform: scale, lo que permite que, al pasar el cursor sobre la card, 
esta aumente ligeramente su tamaño. En este caso, la escala aplicada es de 1.1 */

.tratamientos_section_grid .card:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}





/*-------------------------------OBRAS SOCIALES----------------------------*/


.text_os{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  
  margin: 0 auto; 
}

h1 {
  font-family: "Titillium Web", serif;
  font-size: 40px !important;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #213555;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
}

.p_os {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.p_negrita {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px 0px 10px;
  font-size: 18PX;
}


/* Contenedor principal de todo */
.seccion_os {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px; 
  margin: 40px 0;
}

/* Columna de logos de obras sociales */
.logos_columna {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr) auto; 
  gap: 20px;
  position: relative;
  align-items: flex-start;
  justify-items: center;
}



/* Cada logo individual */


.logo_os img {
  width: 65%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 45px; 
}
.button-container {
  grid-column: 1 / span 2; 
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-top: 10px;
}
.boton_ver_mas {
  font-family: 'Public Sans', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
  font-size: 1rem;
  background-color: transparent;
  color: #213555;
  border: 2px solid #213555;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; 
  max-width: 250px; 
  box-sizing: border-box; 
}


.boton_ver_mas:hover {
  background-color: #B7C4DA;
  color: #213555;
}


.detalle_columna {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}


.img_bucal {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.img_bucal img {
  max-width: 100%;
  height: 214px;
  width: 376;
  border-radius: 8px;
}

/* Card con la información */
.card_os {
  background-color: #F6F1EE;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%; 
  max-width: 400px; 
  justify-content: center; 
  align-self: flex-end;
  margin-right: 30px;
}


.card_os p {
  font-size: 1rem;
  margin: 5px 0;
  color: #213555;
}

/* Fila de información dentro de la card */
.contenido_fila {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contenido_fila img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contenido_fila p {
  font-size: 1rem;
  margin: 0;
  color: #213555;
}


/*----------------------------------------------------------------------OPINIONES-------------------------------------------------------------------------------------*/

/* Contenedor principal */
section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  justify-content: center
}

/*--------CARDS-------*/

.matias_card, .paz_cadr, .sebastian_card {
  background-color: #F6F1EE;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px; 
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.opiniones{
  font-family: "Titillium Web", serif;
  font-size: 40px !important;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #213555;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
  text-align: center;
}

.matias_card img, .paz_cadr img, .sebastian_card img {
  width: 100px; 
  height: auto;
}


h2.name {
  font-size: 28px;
  color: #213555;
  margin: 5px 0;
}

p.opinion {
  font-size: 16px;
  color: #555;
  margin: 0;
}
.indicator_conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px; 
  padding-bottom: 20px;
  cursor: pointer; 
}


.ver_mas { 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  padding: 10px;
  width: 130px;
  font-size: 1rem;
  background-color: transparent;
  color: #213555;
  text-align: center;
  border: 2px solid #213555;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

 

.ver_mas:hover {
  background-color: #B7C4DA;
  color: #213555;
}

footer {
  margin-top: 20px; 
}





/*------------------------------------------------------------------------------------- QUERIES --------------------------------------------------------------------*/


/*--------------------------------------------------------------- BARRA DE NAVEGACIÓN ------------------------------------------------------------------------- */

/*------------ BARRA DE NAVEGACIÓN DESKTOP--------- */
@media (min-width: 1024px) {
  .navbar-nav {
    justify-content: flex-end; 
  }
}

/* ---------- BARRA DE NAVEGACIÓN MOBILE --------- */
@media (max-width: 575px) {
  .custom_navbar {
   display: flex;                
   justify-content: center;      
   align-items: center;         
    } 
    .container_custom_navbar{
    display: flex;                
    justify-content: center;      
    align-items: center;         
     }

  .custom-navbar li a {
    text-align: center;
    justify-content: center;
  }
  
  .custom_item{
    text-align: center;
    justify-content: center;
  }
  .custom_links{
    text-align: center;
    justify-content: center;

  }
  a.nav-link.custom_links {
    color: inherit !important;
    text-align: center;
    justify-content: center;
    }
  
  .nav_turnos {
    margin-top: 10px;
  }
}

/*----------------------- MENÚ HAMBURGUESA ----------------------------*/
@media (max-width: 575px) {
  .menu_icon {
      display: block;
      cursor: pointer;
  }

  .menu {
    width: 32px;
    height: 32px;
    background-size: 100% 100%; 
}
}

/* ---------------------------------- FRANJAS SUPERIORES: EN MOBILE DESAPARECEN ------------------------------*/
@media (max-width: 991px) {
  .franja_superior, .franja_inferior {
    display: none;
  }
}



/* ------ LOGO NAVBAR -----*/
@media (max-width: 992px){
  .logo_navbar {
    width: 79px;
    height: 27px;
  }

  .logo_subtitle {
    font-size: 0.8rem; 
  }
}

/*-------------------------------------------FOOTER--------------------------------------------------------*/

@media (max-width: 1024px) {
  footer section {
    flex-wrap: wrap; 
    justify-content: center; 
  }

  footer section div {
    flex: 1 1 48%; 
    margin: 10px; 
  }

  footer section .bienestar img {
    max-width: 100%; 
    height: auto; 
    width: auto;
  }
}
/* TABLET */
@media (max-width: 600px) {
  footer section {
    flex-direction: column; 
  }

  footer section div {
    flex: 1 1 100%; 
    margin: 10px 0; 
  }

  footer section .bienestar img {
    max-width: 60%; 
    margin-bottom: 10px; 
  }
  footer img {
    width: 70%;
    height: auto;
  }
  .icono-redes {
    width: auto; 
    height: auto;
  }
  footer h3 {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.9rem; 
  }
}

/* MOBILE */
@media (max-width: 576px) {
  footer section {
    flex-direction: column; 
  }

  footer section div {
    flex: 1 1 100%; 
    margin: 10px 0; 
  }

  footer section .bienestar img {
    max-width: 80%; 
    margin-bottom: 10px; 
  }

  footer p {
    font-size: 0.9rem; 
  }
}


/*---------------------------------------------------------------INICIO---------------------------------------------------------------------*/

@media (max-width: 575px) {

  .bienvenida h1{
    font-size: 28px !important; 
    text-align: center;
    margin-left: 10px;
    margin-right:10px ;
  }
}

  /* CARRUSEL */
  @media (max-width: 575px) {
  .carousel-caption-custom h2 {
    font-size: 16px; 
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .carousel-caption-custom p {
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .botones_container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5px; 
  }


  button {
    font-size: 0.6rem !important;
    max-width: 150px; 
    width: 121px !important;
    height: 32px !important ;
  }
}

/*BOTONES DEL CARRUSEL "PREVIO" Y "SIGUIENTE"*/
@media (max-width: 575px) {
  button.previo,
  button.siguiente {
    width: 24px !important;
    height: 24px !important;
  }

  button.previo {
    left: 8px !important;
  }

  button.siguiente {
    right: 8px !important;
  }
}

/*INFO_CONTAINER*/

/*MOBILE*/
@media (max-width: 575px){
 .info_container {
  display: flex; 
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.info_container p{
  color: black;
  font-size: 16px !important;
  margin-right:10px;
  margin-left: 10px;
}


  .info {
    justify-content: center;  
  }

  .experiencia, .consultas, .os, .staff {
    flex: 1 1 100%;  
    max-width: 80%; 
    margin-bottom: 20px; 
  }

  .info h3 {
    font-size: 18px;
  }

   .num{
  font-size: 48px;
   }
   .dato {
  font-size: 16px;
   }

   .experiencia, .consultas, .os, .staff {
    max-width: 60% ;
    min-height: 180px;
   }
  }
/* TABLETS */
@media (min-width: 601px) and (max-width: 1024px) {
  .experiencia, .consultas, .os, .staff {
    flex: 1 1 40%;  
    max-width: 48%;
  }
}



/*PREGUNTAS FRECUENTES*/
@media (max-width: 768px) {
  
  .container {
    max-width: 100%; 
    padding: 10px; 
  }

  .faq_title {
    text-align: center;
    font-size: 22px;
  }
  .faq_accordion {
    width: 100%;
    max-width: 100%;
    padding: 0 10px; 
  }

  .accordion-header{
    width: 100%;
    font-size: 16px !important;
      }

  .faq_button {
    font-size: 16px !important; 
    padding: 10px; 
    white-space: normal; 
    text-align: left; 
    width: 100% !important;
    max-width: 100% !important;
      }
    
  .accordion-header{
    width: 100%;
    font-size: 16px !important;
      }

  .faq_body {
    font-size: 16px; 
    padding: 0.8rem; 
  }

  .contenedor_boton_faq {
    margin-top: 15px;
  }

  .ver_mas_faq {
    font-size: 16px !important;
    padding: 8px 16px;
    height: auto;
  }
}



/*-------------------------------------------------------SOBRE NOSOTROS-------------------------------------------------------*/
@media (max-width: 575px) { 
  .text {
    text-align: center; 
    max-width: 100%; 
    width: 100%;
  }

 .text h1{
  font-size: 28px !important;
 }
 .text h2{
  font-size: 22px;
 }
 .text p{
  font-size: 16px;
 }
 .equipo h2 {
  font-size: 22px;
 }
 .card-body .nombre {
  font-size: 1rem; 
}
.card-body .especialidad {
  font-size: 0.875rem;
}
}
/*NUESTRO EQUIPO*/
@media (max-width: 575px) {
  .nuestro_equipo {
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }

  .card {
    width: 80%; 
    margin-bottom: 20px; 
  }
}

/* Se va a ocultar la imagen en mobile */
@media (max-width: 575px) {
  .img_sobre_nosotros { 
    display: none; 
  }
}


/* PARA TABLET */
@media (min-width: 600px) and (max-width: 1024px) {
  .nuestro_equipo {
    justify-content: center; 
  }

  .card {
    max-width: 45%; 
  }
}



/*---------------------------------------------------TRATAMIENTOS-----------------------------------------------------------*/

@media (max-width: 575px) {
  .tratamientos_section_grid {
    grid-template-columns: 1fr; 
    grid-template-areas: 
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6"; 
    justify-items: center;
    }
  
  .tratamientos_section_grid .card {
    width: 80%;
  }
  

  h1.tratamientos {
  font-size: 28px !important;
  }
  p.tratamientos {
    font-size: 16px;
  }
  .tratamientos_section_grid .card:hover {
    transform: none;
  }
  .tratamientos_section_grid .card h3 {
    font-size: 18px;
  }
}
/* ------------------------------------------------------OBRAS SOCIALES----------------------------------------------------------------- */


@media (max-width: 575px) {
  .text_os h1{
    font-size: 28px !important;
  }
  .p_os {
    font-size: 16px;
    
  }

  .p_negrita{
    font-size: 16px;
  }

  .seccion_os {
    text-align: center; 
    width: 100%; 
    padding: 0 10px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    height: 100%; 
  }

  .detalle_columna {
    display: none; 
    visibility: hidden; 
    width: 0; 
    height: 0; 
    position: absolute;
  }

  .logos_columna {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 15px;
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto; 
    justify-items: center; 
  }

  .logo_os {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .logo_os img {
    width: auto; 
    max-width: 80%; 
    height: auto; 
  }


  .button-container {
    justify-content: center !important; 
    width: 100% !important; 
    max-width: 100% !important; 
    padding: 0 !important;
    margin: 0 auto !important;
  }

  .boton_ver_mas {
    margin: 0 auto !important; 
    width: 100%;
    max-width: 250px;
    text-align: center;
    font-size: 16px !important;
  } 

}
/*----------------------------------------------------------RESEÑAS--------------------------------------------------------------------*/
@media (max-width: 575px) {
.opiniones{
  font-size: 28px !important;
}
h2.name {
  font-size: 22px; 
}
p.opinion {
  font-size: 14px;
}
.indicator_conteiner img {
  width: 250px;
  height: 10px;
}
}


/*------------------------------------------------------------TURNOS----------------------------------------------------------------------*/
@media (max-width: 575px) {

h1.gestion_turnos{
  font-size: 28px !important;
  text-align: center;
}
.info_contacto h2
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px !important;
  }

.info_contacto p {
  font-size: 16px;
}

.contacto_negrita {
  font-family: "Public Sans", sans-serif; 
  font-size: 16px; 
  font-weight: bold;
  color: #213555;
}
.vector_whatsapp img, .vector_mail img {
  width: 30px;
  height: 30px;
}

.vector_telefono img {
  width: 20px;
  height: 20px;
}
}
/* Ocultar imagen en dispositivos móviles */

@media (max-width: 575px) {
  .agendamos_turno .img_turno {
      display: none !important;
  }
}

/* FORMULARIO */
@media (max-width: 575px){
 
  
  #formulario {
    height: 100vh; 
    min-height: 100vh;
    background-image: url('../assets/img_back_contacto.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    overflow: hidden

  }
   
  .agendamos_turno .info_contacto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
    }

    .agendamos_turno .info_contacto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    
  }

  /* Rectángulo superior con el color #213555 */
  @media (max-width: 575px){
  .titulo_form {
    width: 80%; 
    text-align: center; 
    align-items: center;
    background-color: #213555; 
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white; 
    border-radius: 5px 5px 0 0; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    position: absolute; 
    top: 0;
    display: flex;
    z-index: 10; 
  }

  .titulo_form h2 {
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
    background-color: #213555;
    color: white;
    font-weight: bold;
    font-weight: bold;
    text-align: center;
   
  }



  /* Formulario con fondo blanco */
  @media (max-width: 575px){
  form {
    width: 90vh;
    max-height: 90vh;
    position: relative; 
    z-index: 5; 
    top: 20px;
    overflow-y: auto; 
    background-color: white; 
    padding: 20px;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
  }
 
  #formulario label {
    margin-top: 25px;
    color: gray !important;
    display: block;
    text-align: left;
    font-size: 1rem;

  }
  
  .input_row_one, .input_row_two {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 100%;
  }

  .input_group {
    display: flex;
    flex-direction: column;
    width: 100%; 
  }

  input, select, textarea {
    width: 100%;
  }

  /* Botón enviar */
  input[type="submit"] {
    background-color: #213555;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 45px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    line-height: 45px; 
  }

  input[type="submit"]:hover {
    background-color: #B7C4DA;
    border: #1a2d46 solid;
    color: #213555 !important;
  }
}
  
/* Se oculta el párrafo en versión móvil */
@media (max-width: 575px){
.titulo_form p {
  display: none;
}
}
@media (max-width: 575px){
  }
 .formulario_p {
  display: none;
}
  }