@use 'variables' as *;

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1% 5% 1% 5%;
    margin-top: 5px;
    height: 100%;
    margin-bottom: 47px;

    h1.exito {
        color: $correcto;
        font-weight: $bold;
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
    }

    h2.exito {
        margin-bottom: 10px;
    }

    img {
        width: 28%;
        height: 28%;
        margin-bottom: 8px;
        margin-top: 8px;
      
       
    }
}